player-connection-mode=Listen
player-connection-guid=101657673
player-connection-debug=0
player-connection-project-name=SchoolVR
player-connection-ip=192.168.117.1
player-connection-ip=192.168.232.1
player-connection-ip=192.168.100.8
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
xrsdk-pre-init-library=OculusXRPlugin
